<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Save</servlet-name>
    <servlet-class>controller.Save</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>controller.Deposit</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>findHistory</servlet-name>
    <servlet-class>controller.FindHistory</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/servlet/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>Save</servlet-name>
    <url-pattern>/servlet/Save</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/servlet/Deposit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>findHistory</servlet-name>
    <url-pattern>/servlet/findHistory</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  <jsp-config> 
<jsp-property-group> 
<url-pattern>*.jsp</url-pattern> 
<el-ignored>false</el-ignored> 
</jsp-property-group> 
</jsp-config> 
</web-app>
